<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мій вебсайт</title>
    <style>
        div p {
            white-space: pre-wrap;
        }
        div {
            border: 2px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Вітаю на моєму вебсайті!</h1>
    <ul>
        <li>
            <a href="/laba_1">Laboratory work 1</a>
        </li>
        <li>
            <a href="/laba_2">Laboratory work 2</a>
        </li>
        <li>
            <a href="/laba_3">Laboratory work 3</a>
        </li>
        <li>
            <a href="/laba_4">Laboratory work 4</a>
        </li>
        
    </ul>
</body>

</html>